# Replace with your local MySQL details and rename this file to .env
DB_NAME=bakery_db
DB_USER=root
DB_PASSWORD=yoursqlpassword
DB_HOST=localhost
DB_PORT=3306
SECRET_KEY=yoursecretpassword
DEBUG=True

# Register for a demo account on https://dashboard.stripe.com/
STRIPE_SECRET_KEY = your_key
STRIPE_PUBLISHABLE_KEY = pk_test_your_key
STRIPE_WEBHOOK_SECRET=whsec_...
